.header {
    width: 100vw;
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    height: 10vh;
    border: {
        bottom: 2px solid $primary-color;
    }

    div:first-child {
        width: 65vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        svg {
            width: 30%;
            height: 60%;
            @include lg{
                width: 35%;
            }
            color: $primary-color;
        }
        h2 {
            font-size: 1.3rem;
            width: 50%;
        }   
        @include md {
            width: 50vw;
        }
        @include lg{
            width: 20vw;
        }

    }

    div:last-child{
        width: 30vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 50%;
            height: 50%;
            color: $primary-color;
        }
        @include lg{
            width: 15vw;
        }
    }
}