.petition-page{
    width: 90%;
    background-color: blue;
    @include md{
        width: 70%;
    }
    @include lg{
        width: 60%;
    }
    &-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
        h1 {
            font-size: 1.2rem;
            text-align: center;
            max-width: 70%;
            @include md{
                font-size: 2rem;
            }
            @include lg{
                font-size: 2.2rem;
            }
        }
        border-bottom: 2px solid $primary-color;
    }
    &-content {
        margin: 5vh 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: orange;
        &-img{
            width: 90%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: gray;

            @include md{
                height: 40vh;
            }
            @include lg{
                height: 55vh;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-details {
            border: {
                top: 2px solid $primary-color;
                bottom: 2px solid $primary-color;
            }
            background-color: chartreuse;
            width: 100%;
            margin: 5vh 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            height:15vh;
            div{
                width: 50%;
                height: 100%;
                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &:first-child{
                        height: 50%;
                    }
                    &:last-child{
                        height: 50%;
                        width: 100%;
                        h4{
                            width: 90%;
                        }
                    }
                }
            }
            
            h3{
                text-align: center;
                margin: 0;
                font-size: 1.2rem;
                @include md{
                    font-size: 1.5rem;
                }
                @include lg{
                    font-size: 1.7em;
                }
            }
            h4{
                color: $secondary-color;
                text-align: center;
                margin: 0;
                font-size: 1rem;
                @include md{
                    font-size: 1.2rem;
                }
                @include lg{
                    font-size: 1.4rem;
                }
            }
        }
        &-desc{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: 2px solid $primary-color;
            p{
                text-align: justify;
                margin: 2.5vh 0;
                color: $secondary-color;
                width: 90%;
                font-size: 1rem;
                @include md{
                    font-size: 1.2rem;
                }
                @include lg{
                    font-size: 1.4rem;
                }
            }
        }
    }
    &-action{
        width: 100%;
        height: 10vh;
        background-color: antiquewhite;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid $primary-color;
        margin-bottom: 5vh;
        > div{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        > div:first-child{
            width: calc(70% - 2px);
            height: 100%;
            border-right: 2px solid $primary-color;
            h4{
                height: 30%;
                font-size: 1.1rem;
                text-align: center;
                margin:0;
                @include md{
                    font-size: 1.5rem;
                }
            }
            .react-sweet-progress {
                height: 30%;
                width: 90% !important;
            }
        }
        > div:last-child{
            width:30%;
            background-color: aquamarine;
            h4{
                margin: 1vh;
            }
        }
    }
    &-comments{
        width:100%;
        min-height: 20vh;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid $primary-color;
        margin-bottom: 5vh;
        h2 {
            font-size: 1.5rem;
            width: 100%;
            height: 5vh;
            text-align: center;
            @include md{
                font-size: 1.8rem;
            }
            @include lg{
                font-size: 2rem;
            }
        }
        h4{
            font-size: 1.2rem;
            text-align: center;
            @include md{
                font-size: 1.5rem;
            }
            @include lg{
                font-size: 1.7rem;
            }
            color: $secondary-color;
        }

        &-container {
            width: 100%;
            background-color: orange;
        }
        &-new{
            width: 100%;
            height: 35vh;
            background-color: lightgreen;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-top: 2px solid $primary-color;
            h2{
                height: 20%;
            }
            &-container{
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                textarea{
                    height: 80%;
                    width: 70%;
                }
                button{
                    width: 70%;
                    margin: 3vh 0;
                }
            }
        }
    }
}