@import './index.scss';

@font-face {
    font-family: "SfProDisplay";
    src: url("../assets/fonts/SfProDisplay.OTF") format("opentype");
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../assets/fonts/MonumentExtended.otf") format("opentype");
}

body {
    background-color: $background-color;
    font-family: $secondary-font;
    color: $primary-color;
}

h1, h2, h3 {
    font-family: $primary-font;
    color: $primary-color;
}

.page-content{
    min-height: 95vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: 2px solid $primary-color;
    @include md {
        padding: 1.5rem;
    }
    padding: .7rem;
    
    border-radius: 10px;
    color: $secondary-color;
    &:hover{
        transition: 0.7s;
        background-color: $primary-color;
        color: $secondary-color;
    }
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    height: 70%;
    
    border-radius: 10px;
    border: 2px solid $primary-color;

    button{
        width: 80%;
        margin-top: 1rem;
        background-color: $primary-color;
        @include lg {
            width: 60%;
        }
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        input{
            text-align: center;
            width: 80%;
            height: 5vh;
            border: 2px solid $primary-color;
            color: $secondary-color;
            background-color: transparent;
            &:focus{
                transition: 0.5s;
                outline: none;
                border: 2px solid $secondary-color;
                border-radius: 10px;
            }
            margin: {
                top: 1rem;
            }
            @include lg{
                width: 60%;
            }
        }
        label {
            font-size: 1.3rem;
            color: $secondary-color;
        }

        textarea {
            width: 80%;
            height: 20vh;
            border: 2px solid $primary-color;
            color: $secondary-color;
            background-color: transparent;
            resize: none;
            &:focus{
                transition: 0.5s;
                outline: none;
                border: 2px solid $secondary-color;
                border-radius: 10px;
            }
            margin: {
                top: 1rem;
            }
            @include lg{
                width: 60%;
            }
        }
        
    }
    
}

input:-internal-autofill-selected {
    background-color: transparent;
}
