$primary-color: #FF0A27;
$secondary-color: #F6F6F6;
$background-color: #2C2A3C;

$primary-font: "MonumentExtended";
$secondary-font: "SfProDisplay";

$screen-xl-min: 1323px;
$screen-lg-min: 1024px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

